apiVersion: v1
kind: Service
metadata:
  name: webapp1-service
  labels:
    app.kubernetes.io/name: webapp1
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: webapp1